.top3{
    width: 100%;
}

.top3 h3{
    font-size: 2.1em;
}

.top3 ul{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    width: 60%;
    margin: 0px;
}

.top3 .tag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.top3 .tagname{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

/*

.top3 ul img{
    width: 300px;
    height: 300px;
}

.service-info{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.service-info h1{
    font-size: 1.5em;
}

.service-book-btn{
    display: flex;
    justify-content: flex-end;
}

.service-book-btn button{
    background-color: black;
    color: white;
    padding:10px 30px ;
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
}

@media (width <= 876px){
    .top3 ul{
        flex-direction: column;
        justify-content: space-around;
        width: 55%;
        margin: auto;
    }
}*/