main.main-homePage{
  padding: 0;
  margin:0px;
  width: 100%;
  background-color: #FFB700;
  box-sizing: border-box;
}

.head {
  text-align: center;
}

.head h1 {
  font-size: 12vw; 
  margin-bottom: 10px;
  margin-top: 0px;
  padding-top: 100px;
}

.head p {
  font-size: 1em;
  color: #555454;
  padding: 20px 30%;
  color: black;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 80px ;
}

.video video {
  width: 75vw;
  border-radius: 20px; 
}

main .book-appointment{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > h3{
    font-size: 2.5em;
    font-weight: 700;
    margin: 0px auto 50px;
  }

  >p{
    font-size: 1.5em;
    padding: 0px 30%;
    text-align: center;
  }

  > div button{
    width: 200px;
    height: 40px;
    background-color: black;
    color: #FFB700;
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 0.9em;
  }
}

main .barber-signup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0px 0px 100px;

  >h6{
    font-size:11vw;
    align-self: center;
    margin:200px auto 30px;
  }

  >p{
    font-size: 1.1em;
    padding: 0px 30%;
    text-align: center;
  }

  >.textarea{
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 50px;
    gap: 10px;
    margin-top: 20px;

    >input{
      padding: 10px;
      outline: none;
      border: 1px solid white;
      background-color: transparent;
      border-radius: 5px;
    }
  }
}

.subscribe-btn{
  cursor: pointer;
  outline: none;
  border: none;
  background-color: white;
  border-radius: 5px;
  width: 100px;
  padding: 17px 0px;
}

main .image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
  height: 700px;
  background-image: url('../../../public/bg-image.jpeg');
  opacity: 0.8;
  >h6{
    color: white;
    font-size: 5.2em;
    padding: 300px;
    text-align: center;
  }
}

main .homePage-salons{
  display: flex;
  flex-direction: row;
  width: 80%;  
  margin: 150px auto 50px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.homePage-salon {
  text-align: center;
  text-decoration: none;
}

.homePage-salon img{
    border-radius: 50%;
    width: 110px;
    height: 110px;
}

.homePage-salon h3{
  font-size: 1.0em;
  color: rgb(36, 35, 35);
  text-align: center;
}

.more-link {
  color: rgb(0, 0, 0);
  font-weight: bold;
  transition: background-color 0.3s ease-in-out; 

}

.more-link:hover {
  color: #0056b3; 
  font-size: 1.2em;
}

.more-text {
  position: absolute;
  right: 100px;
}

main .got-questions{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 200px auto 0px;
  padding-bottom: 300px;
  width: 80%;

  >h3{
    font-size: 2.5em;
    font-weight: 700;
  }
  
  >.questions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    >.question{
      width: 24%;

      >h3 {
        font-size: 1.5em;
      }
    }
  }

}

@media (max-width: 767px) {

  .head p {
    padding: 20px 10%;
  }


  main .book-appointment p{
      font-size: 1.5em;
      padding: 0px 100px;
      text-align: center;
  }


  main .image{
    height: 600px;
    background-image: url('../../../public/bg-image.jpeg');
    opacity: 0.8;
    >h6{
      color: white;
      font-size: 3.7em;
      padding: 100px;
      text-align: center;
    }
  }


  main .salons{
    flex-direction: column;
    width: 100%;  
    margin: 100px auto;
    gap: 50px;
  }

  main .got-questions .questions{
    display: flex;
    flex-direction: column;

    >.question{
      width: 80%;
    }
    
  }
}
  
  
