main.salonPage{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

main .salon-view{
    display: flex;
    flex-direction: row;
    background-color: rgb(223, 223, 223);
    width: 80%;
    margin:100px auto;
    padding: 20px;
    border-radius: 10px;
    gap: 100px;
}
main .salon-view-img {
   width: 70%;
}
  
main .salon-view img{
    width: 100%;
    height: 450px;
    border-radius: 10px;
}

.salon-view-description{

    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.salon-view-description h3{
    margin-bottom: 100px;
}

.salon-view-description .dash{
    width: 100%;
    height: 1px;
    background-color: rgb(124, 124, 124);
}

.salonPage .salon-services{
    width: 80% ;
    margin: auto;
}

@media (width <= 867px) {
    main.salonPage{
        width: 80%;
        margin: auto;
    }
    main .salon-view{
        flex-direction: column;
        margin: auto;
        width: 100%;
        gap: 20px;
    }

    main .salon-view-img {
        width: 100%;
     }


    .salon-view-description{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .salon-view-description h3{
        margin-bottom: 10px;
    }

    .salonPage .salon-services{
        width: 100% ;
        margin: auto;
    }
}