main{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px auto;
}

.services ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-around;
}

.service-info{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

button{
    width: 250px;
    font-size: 15px;
}
