@import url("https://fonts.googleapis.com/css?family=Roboto");

.date-payment{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 50px 5%;
    flex-direction: row;
    flex-wrap: wrap;
}

.service-side{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.service-side .h1 h1{
    font-size: 1.7em;
}

.service-side .order-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    gap: 200px;
}

.service-side .name-price h6{
    margin: 0;
    font-size: 1.1em;
    text-align: flex-end;
}

.service-side img{
    width: 130px;
    height: 130px;
}

.date-side{
    width: 50%;
}


@media only screen and (max-width: 767px) {
    .date-payment {
      flex-direction: column;
      align-items: center;
    }

    .service-side{
        width: 80%;
        flex-direction: column;
    }
    
    .date-side{
        width: 100%;
    }
  }
