.top2{
    background-color: #FFB700;
    padding: 20px 0px ;
}

.salons-page{
    padding-top: 120px;
    background-color: #FFB700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.category{
    width:20%
}

@media (max-width:767px) {

    .salons-page{
        flex-direction: column;
    }

    .category{
        width:100%
    }
    
}