.left-side {
  background-color: #FFB700;
  width: 50%;
  height: 100%;
  padding: 91px 80px;
  box-sizing: border-box;
}

.frame-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.bookabarber-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}

.frame-parent .dash {
  position: relative;
  border-top: 1.5px solid rgb(116, 114, 114);
  width: 280px;
  height: 1px;
}

.frame-parent .title{
  font-size: 2.1em;
  font-weight:600;
  color: #b83400;
  >.barber{
    color: black;
  }
}

.frame-parent .tagline{
  width: 300px;
  font-size: 1.4em;
}

.sign-in-wrapper{
  margin-top: 150px;
}

.sign-in-wrapper button {
  cursor: pointer;
  border: 0;
  padding: 10px 30px;
  font-size: 1.0em;
  background-color:black;
  color: white;
  border-radius: 30px;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: center;
  width: 130px;
}

@media only screen and (max-width: 800px) {
  .left-side {
  width: 100%;
  display: none;
  }
}
/*.left-side {
  background-color: #FFB700;
  width: 50%;
  height: 700px;
  flex-direction: row;
  padding: 91px 96px ;
  box-sizing: border-box;
  justify-content: flex-end;
}

.frame-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 150px;
  text-align: center;
  font-size: 31px;
  color: rgb(141, 12, 12);
  font-family:'Courier New', Courier, monospace;
}

.bookabarber-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}

.bookabarber {
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 306px;
  height: 87px;
  flex-shrink: 0;
}
.barber {
    color: black;
}
.bookabarber-txt {
  line-break: 'Courier New', Courier, monospace;
  width: 100%;
}
.frame-child {
  position: relative;
  border-top: 3px solid black;
  box-sizing: border-box;
  width: 344.41px;
  height: 3px;
}
.your-style-your {
  position: relative;
  font-size: 11px;
  line-height: 115.5%;
  font-weight: 500;
  color: black;
  text-align: left;
  display: flex;
  align-items: center;
  width: 342.17px;
  height: 63.21px;
  flex-shrink: 0;
}

.sign-in-wrapper {
  cursor: pointer;
  border: 0;
  padding: 3px;
  background-color:black;
  border-radius: 30px;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: center;
}

.sign-in {
  position: relative;
  font-size: 17px;
  line-height: 122.5%;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-align: center;
  width: 197px;
  height: 60px;
}
.frame-parent,
.left-side,
.sign-in-wrapper {
  display: flex;
  align-items: center;
}


@media only screen and (max-width: 800px) {
  .bookabarber{
    font-size:40px
  }
  .left-side{
    display: none;
  }
}
*/