.signup-login{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 100px;
  height: 100%;
  width: 50%;
}

.heading{
  font-size: 30px;
  margin: 0;
  > span{
    color: rgb(94, 21, 21);
  }
}

.textarea{
  width: 80%;
  margin-top: 50px;
}

.textarea ul{
    list-style-type: none; 
    padding: 0px;  
}

.textarea ul input{
    background-color: rgb(204, 204, 204);
    width: 80%;
    height: 40px;
    border-radius: 50px;
    margin-bottom: 20px;
    color: rgb(12, 12, 12);
    border: none;
    outline: none;
    overflow: auto;
    padding: 0px 15px;
}

.textarea input::placeholder {
  color: rgb(0, 0, 0);
  opacity: 1; /* Firefox */
}

.textarea .role{
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5px;
    > .role-options{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }

.role-options .role-option{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
input[type=radio] {
  height:10px; width:10px; vertical-align: middle;
}

button.signup-btn{
    margin-top: 80px;
    cursor: pointer;
    border: 0;
    padding: 10px 30px;
    font-size: 1.0em;
    background-color:black;
    color: white;
    border-radius: 30px;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    width: 130px;
  
}

.already-acc{
  display:none;
}

@media only screen and (max-width: 800px) {
  .signup-login {
    width: 100%;
    margin: auto;
    align-items: center;
  }

  .heading{
    font-size: 30px;
    margin: auto;
  }
  .textarea{
    width: 100%;
    margin: auto;
  }

  .textarea ul input{
    background-color: rgb(204, 204, 204);
    width:350px;
  }

  .already-acc{
    margin: 2px 0px 0px 10px;
    display: block;
    font-size: 0.9em;
    color: rgb(88, 88, 88);
    text-decoration: underline;
  }
}